$primary-color: #272727;
$secondary-color: #ff867c;
$secondary-color-dark: #b61827;
$text-color: #fff;
$header-height: 67px;
$border-radius: 5px;

$pokemon-types: (
  "bug": #729f3f,
  "dragon": #f16e57,
  "fairy": #fdb9e9,
  "fire": #fd7d24,
  "ghost": #7b62a3,
  "ground": #ab9842,
  "normal": #a4acaf,
  "psychic": #f366b9,
  "steel": #9eb7b8,
  "dark": #707070,
  "electric": #eed535,
  "fighting": #d56723,
  "flying": #3dc7ef,
  "grass": #9bcc50,
  "ice": #51c4e7,
  "poison": #b97fc9,
  "rock": #a38c21,
  "water": #4592c4,
);
